<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <div class="sidebar-avatar-placeholder" id="sidebarUserAvatar">A</div>
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2" id="sidebarUserName"
            >Cargando...</span
          >
          <span class="text-secondary text-small" id="sidebarUserRole"
            >Administrador</span
          >
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/src/views/projects/projects-management.html">
        <span class="menu-title">Gestión de Proyectos</span>
        <i class="mdi mdi-folder-multiple menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/src/views/indicators/indicators.html">
        <span class="menu-title">Indicadores</span>
        <i class="mdi mdi-chart-timeline-variant menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/src/views/users/users-management.html">
        <span class="menu-title">Gestión de Usuarios</span>
        <i class="mdi mdi-account-multiple menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/src/views/tasks/tasks-management.html">
        <span class="menu-title">Tareas</span>
        <i class="mdi mdi-clipboard-check menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/src/views/calendar/calendar.html">
        <span class="menu-title">Calendario</span>
        <i class="mdi mdi-calendar menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <span class="menu-title">Reportes</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <span class="menu-title">Configuración</span>
        <i class="mdi mdi-cog menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <span class="menu-title">Ayuda</span>
        <i class="mdi mdi-help-circle menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
